.hover-zoom:hover {
	-webkit-transform:scale(1.1) !important; /* Safari and Chrome */
	-moz-transform:scale(1.1) !important; /* Firefox */
	-ms-transform:scale(1.1) !important; /* IE 9 */
	-o-transform:scale(1.1) !important; /* Opera */
	transform:scale(1.1) !important;
}

.text-secondary{
	color: #fff;
}

.full-width{
	width: 100%;
}

.text-secondary{
	color: #fff;
}

body.black {
	background: black;
	color: white;
	padding-top: 2rem;
}

img.login-logo {
	width: 24rem;
	height: auto;
}

.padding-top{
	padding-top: 20px;
}

.form-small {
	max-width: 240px; 
	margin: 0 auto;
}

.login-error-message:not(:empty){
	background-color: #F05F40;
	padding: 8px;
	border-radius: 8px;
	margin:  8px 0 8px 0;
}